<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooms</title>

    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
</head>
<body>
    <div class="d-flex flex-column justify-content-center align-items-center p-5"
         style="height: 100%;">
        <h1>Select a room</h1>

        <div class="btn-group-vertical pt-5" style="width: 20rem;">
            <a href="/rooms/misc" class="btn btn-primary btn-block mt-2 rounded">Miscellaneous</a>
            <a href="/rooms/frontend" class="btn btn-primary btn-block mt-2 rounded">Frontend</a>
            <a href="/rooms/backend" class="btn btn-primary btn-block mt-2 rounded">Backend</a>
            <a href="/rooms/mobile" class="btn btn-primary btn-block mt-2 rounded">Mobile</a>
            <a href="/rooms/games" class="btn btn-primary btn-block mt-2 rounded">Games</a>
        </div>
    </div>
</body>
</html>