<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
</head>
<body>
    <div class="d-flex flex-column justify-content-center align-items-center p-5"
         style="height: 100%;">

        <h1>Login</h1>

        <form class="d-flex flex-column" action="/login" method="POST">
            <input class="mt-4" type="text" placeholder="Username: " id="username" name="username">
            <input class="mt-2" type="password" placeholder="Password: " id="password" name="password">
        
            <button class="btn btn-primary mt-3" type="submit">
                Login
            </button>

            <% if (typeof error !== "undefined") { %>
                <span class="alert alert-danger mt-3">
                    <%= error %>
                </span>
            <% } %>
        </form>
    
    </div>
</body>
</html>